html, body {
    margin: 0;
    padding: 0;
}

:root {
    --card-height: 200px;
}
 
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: var(--card-height);
    width: 134px;
    border: 2px solid;
    border-radius: 5px;
}

.top{
    padding: 0.1em;
    margin: 0.1em;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    transform: rotate(180deg);
}

.center{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.spade{
    font-size: 25px;
    padding-top: 0%;
    margin-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
